# gradle

.gradle/
build/classes
build/devlibs
build/generated
build/loom-cache
build/resources
build/tmp


out/
classes/
logs/

# eclipse

*.launch

# idea

.idea/
*.iml
*.ipr
*.iws

# vscode

.settings/
.vscode/
bin/
.classpath
.project

# fabric

run/
lib/
